body {
  background-color: whitesmoke;
}

.app {
  margin: 0 auto;
}

.entry-form {
  text-align: center;
} 

.container {
  width: 600px;
}

.entry-form p {
  text-align: left;
} 

.logo {
  width: 100%;
  border: 5px solid black;
}

.invalid-feedback {
  color: red;
  display: inline;
}

button {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #9D1B3D;
  color: #fff;
  padding: 20px;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 5px 0;
  border-radius: 10px;


  &:hover {
    background: #78152f;
    cursor: pointer;
  }
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255, 0.7);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: table;
  margin: 40px auto;

  input,
  textarea {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      transition: all 0.2s ease-in-out;
      color: #999;
      font: 18px Helvetica, Arial, sans-serif;
    }

    &:focus,
    &.populated {
      padding-top: 28px;
      padding-bottom: 12px;

      &::placeholder {
        color: transparent;
      }
    }
  }

  textarea {
    height: 200px;
  }
}